broker_acl.json
[{"id":"96d91a6a.28e558","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"9f5cb7c7.3a08f8","type":"http in","z":"96d91a6a.28e558","name":"","url":"/mqtt/auth","method":"post","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["c70b62e3.66a4a"]]},{"id":"8954f29e.435e3","type":"http in","z":"96d91a6a.28e558","name":"","url":"/mqtt/superuser","method":"post","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["b33f5f27.95e34"]]},{"id":"bf939cdc.935fd","type":"http in","z":"96d91a6a.28e558","name":"","url":"/mqtt/acl","method":"post","upload":false,"swaggerDoc":"","x":120,"y":260,"wires":[["b406b7d6.9e7c48"]]},{"id":"d730dad4.8e0e08","type":"http response","z":"96d91a6a.28e558","name":"","statusCode":"200","headers":{},"x":560,"y":40,"wires":[]},{"id":"f423320d.9cc9d","type":"http response","z":"96d91a6a.28e558","name":"","statusCode":"200","headers":{},"x":460,"y":160,"wires":[]},{"id":"b406b7d6.9e7c48","type":"http response","z":"96d91a6a.28e558","name":"","statusCode":"200","headers":{},"x":300,"y":260,"wires":[]},{"id":"c70b62e3.66a4a","type":"switch","z":"96d91a6a.28e558","name":"","property":"payload.username","propertyType":"msg","rules":[{"t":"eq","v":"msoderi","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":80,"wires":[["de71929e.0bb1f"],["94e6aa24.811938"]]},{"id":"de71929e.0bb1f","type":"switch","z":"96d91a6a.28e558","name":"","property":"payload.password","propertyType":"msg","rules":[{"t":"eq","v":"Abc123!","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":60,"wires":[["d730dad4.8e0e08"],["527bccd.8765234"]]},{"id":"94e6aa24.811938","type":"http response","z":"96d91a6a.28e558","name":"","statusCode":"400","headers":{},"x":420,"y":100,"wires":[]},{"id":"527bccd.8765234","type":"http response","z":"96d91a6a.28e558","name":"","statusCode":"400","headers":{},"x":560,"y":80,"wires":[]},{"id":"b33f5f27.95e34","type":"switch","z":"96d91a6a.28e558","name":"","property":"payload.username","propertyType":"msg","rules":[{"t":"eq","v":"admin","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":180,"wires":[["f423320d.9cc9d"],["c6b24c5.efba5b"]]},{"id":"c6b24c5.efba5b","type":"http response","z":"96d91a6a.28e558","name":"","statusCode":"400","headers":{},"x":460,"y":200,"wires":[]}]