service_node_acl.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"ACL","disabled":false,"info":""},{"id":"8ec6e8b3.1ffd88","type":"http in","z":"f6f2187d.f17ca8","name":"","url":"/acl","method":"post","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["7a013edc.b9636"]]},{"id":"c9a904e6.a3f858","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload.userpass","pt":"msg","to":"$substring(payload.headers.authorization,6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":80,"wires":[["8f3f811a.b734d"]]},{"id":"8f3f811a.b734d","type":"base64","z":"f6f2187d.f17ca8","name":"","action":"b64","property":"payload.userpass","x":1700,"y":80,"wires":[["3afa8bd3.1c9114"]]},{"id":"3afa8bd3.1c9114","type":"change","z":"f6f2187d.f17ca8","name":"userpass","rules":[{"t":"set","p":"payload.user","pt":"msg","to":"$substringBefore(payload.userpass,\":\")","tot":"jsonata"},{"t":"set","p":"payload.pass","pt":"msg","to":"$substringAfter(payload.userpass,\":\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":80,"wires":[["3d631a49.452f76"]]},{"id":"3d631a49.452f76","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload.user","propertyType":"msg","rules":[{"t":"eq","v":"oneuser","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2010,"y":80,"wires":[["7439eabf.e45e34"],["19dca5f4.7de0aa"]]},{"id":"19dca5f4.7de0aa","type":"http response","z":"f6f2187d.f17ca8","name":"","statusCode":"401","headers":{},"x":2060,"y":140,"wires":[]},{"id":"274eb019.d6f69","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"userpass","pt":"msg","to":"$substring(req.headers.authorization,6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":80,"wires":[["6ae2d7e2.e96f28"]]},{"id":"6ae2d7e2.e96f28","type":"base64","z":"f6f2187d.f17ca8","name":"","action":"b64","property":"userpass","x":700,"y":80,"wires":[["be981de6.aa218"]]},{"id":"be981de6.aa218","type":"change","z":"f6f2187d.f17ca8","name":"userpass","rules":[{"t":"set","p":"user","pt":"msg","to":"$substringBefore(userpass,\":\")","tot":"jsonata"},{"t":"set","p":"pass","pt":"msg","to":"$substringAfter(userpass,\":\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":80,"wires":[["300853c9.b5df5c"]]},{"id":"300853c9.b5df5c","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"user","propertyType":"msg","rules":[{"t":"eq","v":"ACL_API_USER","vt":"env"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":80,"wires":[["2cd500ac.f622b"],["a023ea11.a2fbf8"]]},{"id":"2cd500ac.f622b","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"pass","propertyType":"msg","rules":[{"t":"eq","v":"ACL_API_PASS","vt":"env"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":80,"wires":[["ae0b91d6.0a954"],["5e134cae.ba4d44"]]},{"id":"a023ea11.a2fbf8","type":"http response","z":"f6f2187d.f17ca8","name":"","statusCode":"401","headers":{},"x":1060,"y":140,"wires":[]},{"id":"5e134cae.ba4d44","type":"http response","z":"f6f2187d.f17ca8","name":"","statusCode":"401","headers":{},"x":1220,"y":140,"wires":[]},{"id":"7439eabf.e45e34","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload.pass","propertyType":"msg","rules":[{"t":"eq","v":"anditspass","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2150,"y":80,"wires":[["ca3a09f9.461198"],["c3f5500f.c06ca"]]},{"id":"ca3a09f9.461198","type":"http response","z":"f6f2187d.f17ca8","name":"","statusCode":"200","headers":{},"x":2300,"y":80,"wires":[]},{"id":"c3f5500f.c06ca","type":"http response","z":"f6f2187d.f17ca8","name":"","statusCode":"401","headers":{},"x":2220,"y":140,"wires":[]},{"id":"578d8678.a34048","type":"http response","z":"f6f2187d.f17ca8","name":"","statusCode":"401","headers":{},"x":1380,"y":140,"wires":[]},{"id":"ae0b91d6.0a954","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload.headers.authorization","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":80,"wires":[["c9a904e6.a3f858"],["578d8678.a34048"]]},{"id":"7a013edc.b9636","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"req.headers.authorization","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":80,"wires":[["274eb019.d6f69"],["bca0bb25.a063f8"]]},{"id":"bca0bb25.a063f8","type":"http response","z":"f6f2187d.f17ca8","name":"","statusCode":"401","headers":{},"x":340,"y":140,"wires":[]}]